body {
    text-align: center;
    font-family: Arial, sans-serif; 
    background-image: url('nightsky1.jpeg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

body::before { /* ::before is used to add content before the content of an element without changing the structure of the html */
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(255, 182, 193, 0.5); 
    z-index: 1;
}

.topnav {
    display: flex;  
    justify-content: center;  
    align-items: center;  
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.topnav a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 20px; 
    text-decoration: none; 
    transition: all 0.3s ease; 
    position: relative; 
    font-family: 'Silkscreen';
    background-image: url('button_selected_hovered.png'); /* Add background image */
    background-size: 175px; /* Use the image's original size */
    background-repeat: repeat; /* Repeat the image */
    background-position: center; /* Center the background image */
    border: 2px solid #3514f165;
    text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000; /* Add text outline */    
}



.topnav a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    color: #c76aec; 
    transform: scale(0.9); 
}

.topnav a:hover::after {
    width: 100%; 
}

.topnav a.active {
    background-color: #dc54ee; 
    color: #ffffff; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
}

.title {
    text-align: center; 
    color: rgb(253, 253, 253); 
    font-family: 'Silkscreen', sans-serif ;
    font-size: 3em; 
    margin-top: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    position: relative; 
    z-index: 2;
    border: 5px solid #3514f165;
    padding: 2px 10px;
    display: inline-block;
    margin: 20px auto;
    background-image: url('button_selected_hovered.png');
    background-size: 770px;
    background-color:rgba(94, 33, 192, 0.404);
    font-weight: 30;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; 
    animation: borderWaveAnimation 5s infinite; /* Add animation */
}

/* @keyframes borderWaveAnimation {
    0%, 100% {
        border-radius: 0% 50% 0% 50%;
    }
    25% {
        border-radius: 50% 0% 50% 0%;
    }
    50% {
        border-radius: 0% 50% 0% 50%;
    }
    75% {
        border-radius: 50% 0% 50% 0%;
    }
} */

.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.contactbox {
    position: relative;
    width: 30%;
    padding: 20px;
    text-align: center;
    color: rgb(252, 252, 252);
    font-size: 1.5em;
    border: 1px solid #924fdf;
    background-position: center;    
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 15%; /* This ensures the height is equal to the width */
}

.contactbox:nth-child(1) {
    color: #410350;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Silkscreen', sans-serif;
    display: block;
    background-color: #FF5722;
    background-image: url(ace.gif);
    background-size: 900px 900px; /* Adjusted to cover the square */
}

.contactbox:nth-child(2) {
    color: #410350;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Silkscreen', sans-serif;
    text-emphasis-color: #a81616;
    display: block;
    background-color: #2196F3;
    background-image: url(shikimori-shikimori-not-just-cute.gif);
    background-size: cover; /* Adjusted to cover the square */
}

.contactbox:nth-child(3) {
    color: #410350;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Silkscreen', sans-serif;
    display: block;
    background-color: #FF5722;
    background-image: url(animesleep1.gif);
    background-size: cover; /* Adjusted to cover the square */
}